html {
	background-color:#e8e8f8;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
	background-color:#ffffff;
	max-width:8in;
	margin-left:240px;
	margin-right:auto;
  padding:20px;
  border:groove;
  border-width:2px;
}

div.book {
	background-color:#ffffff;
  padding:20px;
}

div.chapter{
	background-color:#ffffff;
  padding:20px;
}

div.section{
	background-color:#ffffff;
  padding:20px;
}

div.figure-float{
	float:right;
border:groove;
border-color:#d0FFd0;
border-width:3px;
border-radius:6px;
}

.figure .title{
	font-size:80%;
}

div.section:after{
content:" ";
clear:both;
display:block;
}

div.example-contents {
	background-color:#e0fefe;
	max-width:800px;
	box-shadow:10px 10px 5px #888888;
	padding-left:5px;
}

div.reader-query {
	background-color:#E6E68A;
	max-width:800px;
	box-shadow:5px 5px 5px #888888;
	margin-left:20px;
	margin-right:20px;
	padding:5px;
  border-radius: 6px;
  border:solid;
  border-width:1px;
  border-color:#888;
}

div.code-snippet {
	max-width:800px;
        /*
	box-shadow:5px 5px 5px #888888;
	padding:5px;
  border-radius: 6px;
  border:solid;
  border-width:1px;
  border-color:#888;
}

a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
  */
	padding-left:5px;
        position: relative;
	box-shadow:5px 5px 5px #888888;
	background-color:#e0fefe;
}

.hidden {
        display: none;
}

.hider-tab {
        box-shadow: inherit;
        position: absolute;
        right: 20%;
        bottom: -20px; /* -(height of image specified in html) */
        text-align: center;
	background-color: inherit;
        margin-left: auto;
        margin-right: auto;
}

